<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h3> Hello, </h3>

    <p>Please see attached the invoice <%= @invoice.number %>. </p>

    <p>Please don't hesitate to get in touch if you have any questions or need clarifications.</p>
  </body>
</html>